name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs_version: [ '28.2', '29.4', '30.1' ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - name: Download makem.sh
        run: |
          curl -sL https://raw.githubusercontent.com/alphapapa/makem.sh/master/makem.sh -o makem.sh
          chmod +x makem.sh

      - name: Lint and Test
        run: |
          ./makem.sh -s sandbox \
            --install-deps --install-linters \
            lint-compile lint-package test
